/*
=======================================================
BUTTONS
=======================================================
1. Base Styles
2. Outline Buttons
=======================================================
*/

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

.btn {
  background-color: #a2ca28;
  border: solid 2px #a2ca28;
  border-radius: 3px;
  display: inline-block;
  height: 3.2em;
  width: auto;
  padding: 0 1em;
  line-height: 3;
  vertical-align: middle;
  white-space: normal;
}

.btn:hover,
.btn:focus,
.btn:not(.btn-outline) {
  color: #fff;
}

.btn:focus,
.btn:hover {
  background-color: #8db514;
  border-color: #8db514;
}

/*
-------------------------------------------------------
2. Outline Buttons
-------------------------------------------------------
*/

.btn-outline:not(:hover):not(:focus) {
  background-color: transparent;
}
