/*
=======================================================
LAYOUT
=======================================================
1. Background Colors
2. Header
3. Hero Image
4. Features
5. Variable Content
6. Footer
=======================================================
*/

/*
-------------------------------------------------------
1. Background Colors
-------------------------------------------------------
*/

.bg-main,
.newsletter-form::after {
  background-color: #a2ca28;
}

.bg-alt {
  background-color: #fd634e;
}

.bg-light {
  background-color: #fff;
}

.bg-dark {
  background-color: #656e74;
}

.bg-image,
.hero-image,
.banner-divider,
.hero-image-cover,
.vcontent-thumb {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-none {
  background-color: transparent;
}

/*
-------------------------------------------------------
2. Header
-------------------------------------------------------
*/

.header,
.hero-image {
  letter-spacing: 2px;
}

@media only screen and (min-width: 769px) {
  .header a {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
}

/*
-------------------------------------------------------
3. Hero Image
-------------------------------------------------------
*/

.hero-image {
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.hero-image .row {
  height: 100vh;
  padding-bottom: 6em;
}

@media only screen and (min-width: 769px) {
  .hero-image p {
    margin-left: 11.25em;
  }
}

@media only screen and (max-width: 768px) {
  .hero-image h1 {
    font-size: 2em;
  }
}

.hero-image-cover {
  background-image: url('../../dist/img/hero-image-cover.png');
  position: absolute;
  height: 6.55em;
  opacity: 0.3;
  bottom: 0;
  right: 0;
  left: 0;
}

/*
-------------------------------------------------------
4. Features
-------------------------------------------------------
*/

.features .row > .col-3 {
  margin: 5em 0;
  min-height: 10em;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .features .row > .col-3 {
    margin: 2em 0;
  }
}

.features a {
  bottom: 0;
  position: absolute;
}

/*
-------------------------------------------------------
5. Variable Content
-------------------------------------------------------
*/

.vcontent > .row,
.vcontent > .row > .col-12 {
  padding: 0 0.7em;
}

.vcontent-thumb,
.vcontent-small,
.vcontent-large {
  min-height: 23em;
}

.vcontent-thumb {
  position: relative;
}

.floating-content-top-left,
.floating-content-top-right,
.floating-content-bottom-left,
.floating-content-bottom-right {
  position: absolute;
}

.floating-content-top-left {
  top: 0;
  left: 0;
}

.floating-content-top-right {
  top: 0;
  right: 0;
}

.floating-content-bottom-left {
  left: 0;
  bottom: 0;
}

.floating-content-bottom-right {
  right: 0;
  bottom: 0;
}

/*
-------------------------------------------------------
5. Banner
-------------------------------------------------------
*/

.banner .row {
  height: 38em;
}

.banner-divider {
  height: 250px;
  margin: -75px 0;
  background-image: url('../../dist/img/bg-banner-divider.png');
}

.banner-divider::before {
  content: '';
  z-index: -1;
  width: 100%;
  height: 250px;
  position: absolute;
  background-color: #fd634e;
}

/*
-------------------------------------------------------
7. Footer
-------------------------------------------------------
*/

.footer {
  background-color: #0d1119;
  padding: 2em 0;
}

.social-icon {
  width: 3em;
  height: 3em;
}

.footer a:not(:last-child) .social-icon {
  margin-right: 0.5em;
}

.social-icon path {
  fill: #fff;
}

.icon-facebook circle {
  fill: #2e3192;
}

.icon-twitter circle {
  fill: #00adef;
}

.icon-linkedin circle {
  fill: #181b90;
}

.icon-youtube circle {
  fill: #ed3223;
}

.footer .col-8 {
  margin-left: auto;
}

.newsletter-form {
  position: relative;
}

.newsletter-form::after {
  width: 0%;
  height: 3px;
  content: '';
  display: block;
  border-radius: 1em;
  margin-top: 0.5em;
}

.form-sucess::after {
  width: 100%;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.sucess-message {
  padding: 1em;
  border-radius: 3px;
  border: 2px solid #a2ca28;
}

@media only screen and (min-width: 481px) {
  .newsletter-form input:not([type="submit"]) {
    width: calc(100% - 0.5em);
  }
}

@media only screen and (max-width: 480px) {
  .newsletter-form [class*='col-'] {
    margin-bottom: 1em;
  }
}
