/*
=======================================================
Typography
=======================================================
1. Font Face
2. Font Size
3. Font Color
4. Misc/Effects
=======================================================
*/

/*
-------------------------------------------------------
1. Font Face
-------------------------------------------------------
*/

@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/open-sans/open-sans-regular.eot');
  src:
    url('../fonts/open-sans/open-sans-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/open-sans-regular.woff2') format('woff2'),
    url('../fonts/open-sans/open-sans-regular.woff') format('woff'),
    url('../fonts/open-sans/open-sans-regular.svg#open-sans-regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url('../fonts/open-sans/open-sans-semi-bold.eot');
  src:
    url('../fonts/open-sans/open-sans-semi-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/open-sans-semi-bold.woff2') format('woff2'),
    url('../fonts/open-sans/open-sans-semi-bold.woff') format('woff'),
    url('../fonts/open-sans/open-sans-semi-bold.svg#open-sans-semi-bold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Avenir Next Rounded Pro Medium';
  src: url('../fonts/avenir/AvenirNextRoundedPro-Med.eot');
  src:
    url('../fonts/avenir/AvenirNextRoundedPro-Med.eot?#iefix') format('embedded-opentype'),
    url('../fonts/avenir/AvenirNextRoundedPro-Med.woff2') format('woff2'),
    url('../fonts/avenir/AvenirNextRoundedPro-Med.woff') format('woff'),
    url('../fonts/avenir/AvenirNextRoundedPro-Med.svg#AvenirNextRoundedPro-Med') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Avenir Next Rounded Pro Regular';
  src: url('../fonts/avenir/AvenirNextRoundedPro-Reg.eot');
  src:
    url('../fonts/avenir/AvenirNextRoundedPro-Reg.eot?#iefix') format('embedded-opentype'),
    url('../fonts/avenir/AvenirNextRoundedPro-Reg.woff2') format('woff2'),
    url('../fonts/avenir/AvenirNextRoundedPro-Reg.woff') format('woff'),
    url('../fonts/avenir/AvenirNextRoundedPro-Reg.svg#AvenirNextRoundedPro-Reg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}

.main-nav,
.font-alt-light {
  font-family: 'Avenir Next Rounded Pro Medium';
  font-weight: 500;
}

.font-alt-regular {
  font-family: 'Avenir Next Rounded Pro Regular';
  letter-spacing: 2px;
  font-weight: 400;
}

.btn,
body,
input,
select,
textarea,
.font-main {
  font-family: 'Open Sans Regular';
  font-weight: 400;
}

.font-main-bold {
  font-family: 'Open Sans SemiBold';
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

/*
-------------------------------------------------------
2. Font Size
-------------------------------------------------------
*/

.btn,
body,
input,
select,
textarea {
  font-size: 1em;
}

small,
.btn-small,
.text-small,
.input-small {
  font-size: 0.9em;
}

h6,
.title-6,
blockquote {
  font-size: 1.1em;
}

h5,
.title-5,
.btn-large,
.text-large,
.input-large {
  font-size: 1.3em;
}

h4,
.title-4 {
  font-size: 1.6em;
}

h3,
.title-3 {
  font-size: 1.9em;
}

h2,
.title-2 {
  font-size: 2.2em;
}

h1,
.title-1 {
  font-size: 2.5em;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 85%;
  }
}

/*
-------------------------------------------------------
3. Font Color
-------------------------------------------------------
*/

body {
  color: #656e74;
}

.text-main {
  color: #a2ca28;
}

.text-alt {
  color: #fd634e;
}

.text-dark {
  color: #656e74;
}

.text-light {
  color: #fff;
}

a {
  color: inherit;
}

/*
-------------------------------------------------------
4. Misc/Effects
-------------------------------------------------------
*/

article,
blockquote,
.text-block {
  line-height: 170%;
}

.btn,
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

a,
.btn:hover,
.main-nav a:hover,
.no-underline:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-underline {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}
